{% extends 'base.html.twig' %}

{% block title %} Créer une liste {% endblock %}

{% block body %}
  <header>
    <h1><i class="fa-solid fa-plus"></i> Créer une nouvelle liste</h1>
  </header>

  <hr>

  <section class="container">
    {{ form_start(form) }}
    <div class="row">
      <div class="col-12">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <a href="{{ path('task_list_index') }}" class="btn btn-secondary bg-gradient me-2"><i class="fa-solid fa-arrow-left-long"></i> Retour à l'accueil</a>
      <button type="submit" class="btn btn-success bg-gradient"><i class="fa-solid fa-plus"></i> Ajouter</button>
    </div>
    {{ form_end(form) }}


  </section>
{% endblock %}
