{% extends 'base.html.twig' %}

{% block title 'Listes de tâches' %}

{% block body %}
  <header class="d-flex justify-content-between">
    <h1><i class="fa-solid fa-list"></i> Listes de tâches</h1>
    <a href="{{ path('task_list_create') }}" class="btn btn-success bg-gradient h-100"><i class="fa-solid fa-plus"></i> Créer une nouvelle liste</a>
  </header>

  <hr>

  <section>
    <div class="row mt-3">
      {% for taskList in allTaskList %}
        <div class="col-md-3 col-12">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ taskList.name }}</h5>
              <h6 class="card-subtitle mb-2">
                <span class="badge bg-success bg-gradient">{{ taskList.tasks.count > 1 ? "#{taskList.tasks.count} tâches" : "#{taskList.tasks.count} tâche" }}</span>
              </h6>
              <div class="d-flex justify-content-end">
                <a href="{{ path('task_list_show', { id: taskList.id }) }}" class="btn btn-sm btn-primary bg-gradient me-2"><i class="fa-solid fa-eye"></i></a>
                <form onclick="return confirm('Êtes-vous sûr(e) de supprimer cette liste ?')" action="{{ path('task_list_delete', { id: taskList.id }) }}" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="hidden" name="_token" value="{{ csrf_token("taskList-"~taskList.id) }}">
                  <button class="btn btn-sm btn-danger bg-gradient"><i class="fa-solid fa-trash"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
