{% extends 'base.html.twig' %}

{% block title %} {{ taskList.name }} {% endblock %}

{% block javascripts %}
  {{ parent() }}

  {{ encore_entry_script_tags('switch-task-is-finished') }}
{% endblock %}

{% block body %}
  <header>
    <h1><i class="fa-solid fa-list-check"></i> {{ taskList.name }}</h1>
  </header>

  <hr>

  <section class="container">
    {{ form_start(form) }}
      <div class="row align-items-end">
        <div class="col-md-8 col-12">
          {{ form_row(form.name) }}
        </div>

        <div class="col-md-4 col-12">
          <button class="btn btn-success bg-gradient w-100 mb-3" type="submit"><i class="fa-solid fa-pen-to-square"></i> Modifier</button>
        </div>

      </div>
    {{ form_end(form) }}
    <div class="row">
      <table class="table table-bordered text-center">
        <thead class="bg-dark bg-gradient text-white">
        <tr class="text-center">
          <th>Nom</th>
          <th>Réalisée ?</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
          {% for task in taskList.tasks %}
            <tr class="{% if task.isFinished %} bg-success {% else %} bg-warning {% endif %} bg-gradient text-white">
              <td>{{ task.title }}</td>
              <td>
                <div class="form-check form-switch d-flex justify-content-center">
                  <input data-url="{{ path('task_edit_is_finished', { id: task.id }) }}" {% if task.isFinished %} checked {% endif %} type="checkbox" role="switch" class="form-check-input switch-task-is-finished">
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-center">
                  <a href="{{ path('task_edit', { id: task.id }) }}" class="btn btn-sm btn-secondary bg-gradient me-2"><i class="fa-solid fa-pen-to-square"></i></a>
                  <form onclick="return confirm('Êtes-vous sûr(e) de supprimer cette liste ?')" action="{{ path('task_delete', { id: task.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token("task-"~task.id) }}">
                    <button class="btn btn-sm btn-danger bg-gradient"><i class="fa-solid fa-trash"></i></button>
                  </form>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <form class="me-2" onclick="return confirm('Êtes-vous sûr(e) de supprimer cette liste ?')" action="{{ path('task_list_delete_finished_tasks', { id: taskList.id }) }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_token" value="{{ csrf_token("taskList-"~taskList.id) }}">
          <button class="btn btn-sm btn-danger bg-gradient"><i class="fa-solid fa-trash"></i> Supprimer les tâches réalisées</button>
        </form>
        <a href="{{ path('task_create', { id: taskList.id }) }}" class="btn btn-sm btn-success bg-gradient"><i class="fa-solid fa-plus"></i> Créer une nouvelle tâche</a>
      </div>
    </div>
  </section>
{% endblock %}
