{{ form_start(form) }}
<div class="row">
  <div class="col-12">
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_errors(form.title) }}
  </div>
  <div class="col-12 mt-2">
    {{ form_row(form.isFinished) }}
  </div>
</div>
<div class="d-flex justify-content-center">
  <a href="{{ path('task_list_show', { id: taskListId }) }}" class="btn btn-secondary bg-gradient me-2"><i class="fa-solid fa-arrow-left-long"></i> Retour à la liste des tâches</a>
  <button type="submit" class="btn btn-success bg-gradient">{{ btnIcon | raw }} {{ btnName| default("Valider") }}</button>
</div>
{{ form_end(form) }}
