{% extends 'base.html.twig' %}

{% block title %} Créer une tâche {% endblock %}

{% block body %}
  <header>
    <h1><i class="fa-solid fa-plus"></i> Créer une nouvelle tâche</h1>
  </header>

  <hr>

  <section class="container">
    {{ include('task/_form.html.twig', { taskListId: app.request.get("id") , btnIcon: '<i class="fa-solid fa-plus"></i>', btnName: "Ajouter" }) }}
  </section>
{% endblock %}
