{% extends 'base.html.twig' %}

{% block title %} Modifier une tâche {% endblock %}

{% block body %}
  <header>
    <h1><i class="fa-solid fa-plus"></i> Modifier une tâche</h1>
  </header>

  <hr>

  <section class="container">
    {{ include('task/_form.html.twig', { taskListId: task.taskList.id, btnIcon: '<i class="fa-solid fa-pen-to-square"></i>', btnName: "Modifier" }) }}
  </section>
{% endblock %}
