<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto" href="{{ path('task_list_index') }}"><i class="fa-solid fa-house"></i></a>
  </div>
</nav>
